*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.heic
*.JPG
*.JPEG
*.PNG
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.json

yolov5_crowdhuman/
crowdhuman_yolov5m.pt
yolov8x_person_face.pt
.env
*.ipynb
__pycache__/
.streamlit/secrets.toml